# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.pkl
*.joblib

# Node
node_modules/
dist/
.npm

# Env
.env
*.env

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
